Source: libcdatetime
Priority: extra
Maintainer: Joachim Metz <joachim.metz@gmail.com>
Build-Depends: debhelper (>= 9), dh-autoreconf, pkg-config
Standards-Version: 3.9.5
Section: libs
Homepage: https://github.com/libyal/libcdatetime

Package: libcdatetime
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Conflicts: libcdatetime1
Replaces: libcdatetime1
Suggests: libcdatetime-dbg
Description: Library to support cross-platform C date and time functions
 libcdatetime is a library to support cross-platform C date and time functions.

Package: libcdatetime-dbg
Architecture: any
Section: debug
Depends: libcdatetime (= ${binary:Version}), ${misc:Depends}
Description: Debugging symbols for libcdatetime
 Debugging symbols for libcdatetime.

Package: libcdatetime-dev
Section: libdevel
Architecture: any
Depends: libcdatetime (= ${binary:Version}), ${misc:Depends}
Description: Header files and libraries for developing applications for libcdatetime
 Header files and libraries for developing applications for libcdatetime.

